<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Cont</display-name>
    <servlet-name>Cont</servlet-name>
    <servlet-class>com.kirin_ad.controller.Cont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cont</servlet-name>
    <url-pattern>/Cont</url-pattern>
  </servlet-mapping>
  <display-name>Kirin_ad</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewRegistrationCont</display-name>
    <servlet-name>NewRegistrationCont</servlet-name>
    <servlet-class>com.kirin_ad.controller.NewRegistrationCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRegistrationCont</servlet-name>
    <url-pattern>/NewRegistrationCont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRegistrations</display-name>
    <servlet-name>ListRegistrations</servlet-name>
    <servlet-class>com.kirin_ad.controller.ListRegistrations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRegistrations</servlet-name>
    <url-pattern>/ListRegistrations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRegistration</display-name>
    <servlet-name>DeleteRegistration</servlet-name>
    <servlet-class>com.kirin_ad.controller.DeleteRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRegistration</servlet-name>
    <url-pattern>/DeleteRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.kirin_ad.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>